<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>


<body>
  <%-include('../partials/header.ejs')%>
<main>
  <section class="contenedor1">
    <%for (let i=0;i < eventos.length ;i++){ %>
      <div class="evento">
          <h2 class="date"><%=eventos[i].date%></h2>
          <br>
          <p class="description"><%=eventos[i].description%></p>
          <br>
          <br>
          <div class="contenedor-botones">
              <a href="/detallesEvento.html" class="boton">Leer más</a>
          </div>
          <br>
          <br>
          <button type="button" class="boton-editar"><img class="mas" src="./img/mas.png" alt=""></button>
          <br>
          <button type="button" class="boton-editar"><img class="menos" src="./img/menos.png" alt=""></button>
      </div>
      
      <div class="place">
          <h3><%= eventos[i].place %></h3>
      </div>
      <%}%>
  </section>
  
  <section class="contenedor2">
      <div class="evento r">
          <h2>Concierto</h2>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Et, molestiae nam. Fugit sequi voluptate voluptatum.</p>
          <br>
          <div class="contenedor-botones">
              <a href="/detallesEvento.html" class="boton">Leer más</a>
          </div>
          <br>
          <br>
          <button type="button" class="boton-editar"><img class="mas" src="./img/mas.png" alt=""></button>
          <br>
          <button type="button" class="boton-editar"><img class="menos" src="./img/menos.png" alt=""></button>
      </div>
      <div class="ciudad">
          <h3>MEXICO</h3>
      </div>
  </section>
  
  <section class="contenedor3">
      <div class="evento">
          <h2>Concierto</h2>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Et, molestiae nam. Fugit sequi voluptate voluptatum.</p>
          <br>
          <div class="contenedor-botones">
              <a href="/detallesEvento.html" class="boton">Leer más</a>
          </div>
          <br>
          <br>
          <button type="button" class="boton-editar"><img class="mas" src="./img/mas.png" alt=""></button>
          <br>
          <button type="button" class="boton-editar"><img class="menos" src="./img/menos.png" alt=""></button>
      </div>
      <div class="ciudad">
          <h3>COLOMBIA</h3>
      </div>
  </section>
  <section class="contenedor4">
      <div class="evento r">
          <h2>Concierto</h2>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Et, molestiae nam. Fugit sequi voluptate voluptatum.</p>
          <br>
          <div class="contenedor-botones">
              <a href="/detallesEvento.html" class="boton">Leer más</a>
          </div>
          <br>
          <br>
          <button type="button" class="boton-editar"><img class="mas" src="./img/mas.png" alt=""></button>
          <br>
          <button type="button" class="boton-editar"><img class="menos" src="./img/menos.png" alt=""></button>
      </div>
      <div class="ciudad">
          <h3>CHILE</h3>
      </div>
  </section>
  <section class="contenedor5">
      <div class="evento">
          <h2>Concierto</h2>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Et, molestiae nam. Fugit sequi voluptate voluptatum.</p>
          <br>
          <div class="contenedor-botones">
              <a href="/detallesEvento.html" class="boton">Leer más</a>
          </div>
          <br>
          <br>
          <button type="button" class="boton-editar"><img class="mas" src="./img/mas.png" alt=""></button>
          <br>
          <button type="button" class="boton-editar"><img class="menos" src="./img/menos.png" alt=""></button>
      </div>
      <div class="ciudad">
          <h3>CANADA</h3>
      </div>
  </section>
  </main>
  <%-include('../partials/footer.ejs')%>
  </body>
  </html